.modal__background {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.modal__close {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 2rem;
	color: white;
	cursor: pointer;
	z-index: 55;
	transition: all ease 200ms;
}

.modal__close:hover {
	scale: 1.2;
}
.modal__close:active {
	scale: 0.8;
}

.modal {
	position: fixed;
	border-radius: 12px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 55;
	max-width: fit-content;
	max-height: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal img {
	max-height: 60vh;
	max-width: 90vw;
	user-select: none;
}

.modal__info {
	padding: 20px;
}

.modal__info__date {
	font-size: 1.7rem;
	font-weight: bold;
}

.modal__info__caption {
	margin-top: 20px;
	font-size: 1rem;
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}
