.title {
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	font-weight: bold;
	letter-spacing: -3px;
	text-transform: capitalize;
	color: #1e1e1e;
	margin-bottom: 25px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
}

.title p {
	display: flex;
	flex-direction: column;
}
